@font-face{
  font-family:'Bricolage Fallback';
  src:local('Arial Bold'),local('Arial');
  font-weight:700 800;
  size-adjust:100%;
  ascent-override:92%;
  descent-override:24%;
  line-gap-override:0%;
}

@font-face{
  font-family:'Hanken Fallback';
  src:local('Arial');
  font-weight:400 600;
  size-adjust:98%;
  ascent-override:95%;
  descent-override:25%;
  line-gap-override:0%;
}

h1{text-wrap:balance}
